.AccountFlag {
  background-color: $themeColor;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-family: monospace;
  font-style: normal;
  font-weight: bold;
  height: 16px;
  text-align: center;
  width: 16px;
}
