.Text {
	em {
		font-style: italic;
	}

	strong {
		font-weight: bold;
	}

	code {
		font-family: Menlo, Monaco, Consolas, 'Ubuntu Mono', 'Courier New', monospace;
	}

  a {
    &,
    &:visited {
      color: #5584ff;
      text-decoration: none;
    }
    &:focus
    &:hover {
      color: #a1bcff;
      text-decoration: underline;
    }
  }

	p,
	ul,
	ol,
	blockquote {
		margin: .25em 0;
	}
}