@import "../shared-ui/theme/definitions";

.Sidebar {
  color: #fff;
  background-color: #051837;
  height: 100%;

  &-h1 {
    // color: #bbb;
    font-size: $f14;
    height: 41px;
    line-height: 41px;
    margin: 0 0 5px 4px;
    padding: 2px 0 0 38px;
    position: relative;
    &::before {
      // background: url(sprite.png) no-repeat -115px 2px;
      @include bgSprite(-115px, 2px);
      content: "";
      height: 18px;
      left: 7px;
      position: absolute;
      top: 13px;
      width: 26px;
    }
  }

  &-bottom {
    height: 35px;
  }
}