/*
 * http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain)
 */
* {
	border: 0;
  box-sizing: border-box;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
  background: none;
	color: inherit;
}

/* End of css reset */


@import "definitions/definitions";
@import "App/form";
@import "App/theme";
@import "BackgroundCommandManager/bgcommandmanager";
@import "BoxList/boxlist";
@import "ContributorWorkspace/contributorworkspace";
@import "DropdownMenu/dropdownmenu";
@import "FlagBox/flagbox";
@import "LoginDialog/logindialog";
@import "Menu/menu";
@import "ProjectWorkspace/projectworkspace";
@import "ProjectForm/projectform";
@import "StepSwitcher/stepswitcher";
@import "StepTypeBox/steptypebox";
@import "StepTypeForm/steptypeform";
@import "StepTypeWorkspace/steptypeworkspace";
@import "TaskBoard/taskboard";
@import "TaskBox/taskbox";
@import "TaskFlag/taskflag";
@import "TaskFlagSelector/taskflagselector";
@import "TaskForm/taskform";
@import "WorkspaceViewer/workspaceviewer";
