/*
 * http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain)
 */
* {
	border: 0;
  box-sizing: border-box;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
  background: none;
	color: inherit;
}
/* End of css reset */

@import "definitions/definitions";
@import "App/form";
@import "App/theme";

@import "generics/BackgroundCommandManager/BackgroundCommandManager";
@import "generics/BoxList/BoxList";
@import "generics/CheckboxMultiSelect/CheckboxMultiSelect";
@import "generics/LoginDialog/LoginDialog";
@import "generics/Menu/Menu";
@import "generics/DropdownMenu/DropdownMenu";
@import "generics/WorkspaceViewer/WorkspaceViewer";

@import "semantics/contributors/ContributorFlag/contributorflag";
@import "semantics/contributors/ContributorSelector/contributorselector";
@import "semantics/contributors/ContributorWorkspace/contributorworkspace";

@import "semantics/flags/FlagBox/flagbox";
@import "semantics/flags/FlagSelector/FlagSelector";

@import "semantics/projects/ProjectWorkspace/projectworkspace";
@import "semantics/projects/ProjectForm/projectform";

@import "semantics/steps/StepSwitcher/StepSwitcher";
@import "semantics/steps/StepBox/stepbox";
@import "semantics/steps/StepForm/stepform";
@import "semantics/steps/StepWorkspace/stepworkspace";

@import "semantics/tasks/TaskBoard/taskboard";
@import "semantics/tasks/TaskBox/taskbox";
@import "semantics/tasks/TaskCommentEditor/taskcommenteditor";
@import "semantics/tasks/TaskFlag/taskflag";
@import "semantics/tasks/TaskForm/taskform";
