# Dependencies
node_modules

www-server/*
!www-server/sqlite-scripts
!www-server/www
www-server/www/bundle.js*
www-server/www/bundle-registration.js*
www-server/www/smallteam.css*
*.sqlite

.ropeproject
