.AccountSelector {
  &-button {
    display: block;
  }
}

.AccountSelectorList {
  display: none;
  pointer-events: none;

  // &-label {
  //   display: flex;
  //   vertical-align: baseline;
  // }
}
