.TaskComment {
  display: flex;

  &-left {
    flex-grow: 1;
    min-height: 60px;
    overflow: scroll;
    position: relative;
  }

  &-textarea {
    border: 1px solid #708090;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  &-content {
    z-index: 0;
  }

  &-right {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    justify-content: flex-start;
  }

  &-editButton, &-cancelButton, &-saveButton, &-deleteButton {
    background-position: center;
    background-size: cover;
    border: 0;
    flex-grow: 0;
    height: 16px;
    margin: 2px;
    outline: none;
    width: 16px;
  }

  &-editButton {
    background-image: url(/svg/feather/edit.svg);
  }

  &-cancelButton {
    background-image: url(/svg/feather/x-circle.svg);
  }

  &-saveButton {
    background-image: url(/svg/feather/save.svg);
  }

  &-deleteButton {
    background-image: url(/svg/feather/trash-2.svg);
  }
}
