.Sidebar {
  color: #fff;
  background-color: #051837;
  height: 100%;

  &-h1 {
    background-color: #1c2e4b;
    border-left: 6px solid #5584ff;
    height: 41px;
    line-height: 41px;
    padding: 2px 0 0 38px;
    position: relative;
    &::before {
      background: url(sprite.png) no-repeat -115px 0;
      content: "";
      height: 18px;
      left: 7px;
      position: absolute;
      top: 13px;
      width: 26px;
    }
  }
}