.StepsPanel {
  &Title {
    background-color: #205081;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: white;
    display: inline-block;
    font-weight: bold;
    padding: 3px 5px;
    vertical-align: middle;
  }

  &ToggleButton, &CloseButton {
    border-radius: 50%;
    padding: 5px;
  }

  &ToggleButton {
    &:focus, &:hover {
      background-color: rgba(255, 255, 255, 0.42)
    }
  }

  &CloseButton {
    &:focus, &:hover {
      background-color: rgba(255, 50, 50, 005)
    }
  }
}

.AddTaskPanel {
  padding: 5px;
}
