.StepsPanel {

}

.StepsPanelTitle {
  background-color: #205081;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: white;
  font-weight: bold;
  padding: 5px;
}

.AddTaskPanel {
  padding: 5px;
}
