.TaskBoard {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-column-gap: 24px;
  grid-template-rows: 40px auto;

  &-left {
    grid-area: 2 / 1 / span 1 / span 9;
  }

  &-right {
    grid-area: 2 / 10 / span 1 / span 6;
  }
}
