.BoxList {
  &-header {
    // align-items: baseline;
    color: #000;
    border-bottom: 1px solid $themeColor;
    // display: flex;
    // flex-direction: row;
    font-weight: bold;
    // justify-content: space-between;
    padding: 8px 0px 5px;
  }

  &-ul {
    min-height: 50px;
    /* We add a bottom padding so that elements can easily be dragged at the end of the BoxList. */
    padding-bottom: 50px;
  }

  &-li {
    // align-items: center;
    // display: flex;
    // justify-content: space-between;
    margin-bottom: 5px;
    // min-height: 30px;
    // padding: 5px 5px 5px 40px;
    // position: relative;
    // vertical-align: middle;
  }

  &-inlineLi {
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-height: 30px;
    padding: 5px;
    vertical-align: middle;
  }

  &-spinner {
    height: 16px;
    width: 16px;
  }

  &.inline &-ul {
    align-content: space-between;
    display: flex;
    flex-direction: row;
    min-height: 0;
    padding-bottom: 0;
  }
}

.MovableBox {
  background-color: #e9efff;
  border: 1px solid #e9e9e9;
  cursor: move;
  position: relative;
  &-icon {
    @include bgSprite(-90px, -55px);
    background-color: #ddd;
    border: 1px solid #ddd;
    bottom: -1px;
    content: "";
    height: 9px;
    left: -1px;
    position: absolute;
    width: 9px;
    // &::before {
    //   position: absolute;
    //   height: 5px;
    //   width: 5px;
    // }
  }
  &-content {
    display: block;
  }
}

.RightOpenBtn {
  color: #c2c2c2;
  padding: 5px;
}

// .BoxListHandle {
//   align-items: center;
//   background-color: #d0d0d0;
//   border-radius: 2px;
//   bottom: 5px;
//   color: #494545;
//   display: flex;
//   justify-content: center;
//   left: 5px;
//   position: absolute;
//   text-align: center;
//   top: 5px;
//   width: 30px;

//   &:hover {
//     cursor: move;
//   }
// }

// .BoxListItemRemove {
//   color: rgba(233, 6, 6, 0.876);
//   vertical-align: middle;
// }
