.StepSwitcher {
  &-title {
    align-items: baseline;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px 5px;
  }

  &-toggleButton, &-closeButton {
    padding: 5px;
    &:focus, &:hover {
      background-color: rgba(255, 255, 255, 0.42);
      outline: none;
    }
  }

  &-foldableContent {
    transition-duration: 0.5s;
    transition-property: opacity;
    transition-timing-function: linear;
  }

  &-addTaskPane {
    align-content: stretch;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }

  &-input {
    @extend .InlineText;
    padding: 3px;
  }

  &-addButton {
    @extend .StdBtn;
  }
}
