@import "./definitions";

.Text {
	em {
		font-style: italic;
	}

	strong {
		font-weight: bold;
	}

	code {
		font-family: Menlo, Monaco, Consolas, 'Ubuntu Mono', 'Courier New', monospace;
	}

  a {
    &,
    &:visited {
      color: #5584ff;
      text-decoration: none;
    }
    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }

	p,
	ul,
	ol,
	blockquote,
  h1,
  h2,
  h3 {
    line-height: 1.4;
		margin: .25em 0;
	}

  h1 {
    font-size: $f24;
    font-weight: bold;
    margin: 0 0 .45em;
  }

  h2 {
    font-size: $f16;
    font-weight: bold;
    margin: 1em 0 .5em;
  }

  &.centeredTitles {
    h1,
    h2 {
      text-align: center;
    }
  }

  ul,
  ol {
    padding-left: 30px;
    & > li {
      margin-bottom: .25em;
    }
  }
  ul > li {
    list-style-type: disc;
  }
  ol > li {
    list-style-type: decimal;
  }
}