.InlineText {
	border: 1px solid gray;
	padding: 3px;

	em {
		font-style: italic;
	}

	strong {
		font-weight: bold;
	}

	code {
		font-family: Menlo, Monaco, Consolas, 'Ubuntu Mono', 'Courier New', monospace;
	}
}

.Text {
	@extend .InlineText;

	p,
	ul,
	ol,
	blockquote {
		margin: .25em 0;
	}
}
