.InlineText {
	em {
		font-style: italic;
	}

	strong {
		font-weight: bold;
	}

	code {
		font-family: Menlo, Monaco, Consolas, 'Ubuntu Mono', 'Courier New', monospace;
	}

  a {
    &,
    &:visited {
      color: #5584ff;
      text-decoration: none;
    }
    &:focus
    &:hover {
      color: #a1bcff;
      text-decoration: underline;
    }
  }
}

.Text {
	@extend .InlineText;

	p,
	ul,
	ol,
	blockquote {
		margin: .25em 0;
	}
}

.TextInput {
	border: 1px solid #e8e8e8;
	line-height: 100%;
	padding: 4px;
	&::placeholder {
		color: #ababab;
	}
}
