$themeColor:  #5584ff;
$lightColor:  #e9efff;
$bodyBgColor: #eee;

body {
	background-color: $bodyBgColor;
  font-family: Lato, Roboto, Cantarell, sans-serif;
}

.BlockTitle {
  background-color: #205081;
  color: white;
  font-weight: bold;
  padding: 8px 5px;
  vertical-align: middle;
}

.LeftMargin {
  margin-left: 10px;
}

.AutoColumns {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;

  & > * {
    flex: 1 1 0;
  }
}

.BgDark1 {
  background-color: #051837;
  color: #fff;
}

.StdBtn {
  background-color: royalblue;
  color: white;
  padding: 8px 10px;
}
