@import "../definitions/definitions";

$titleColor: darken(royalblue, 5);

.BlockTitle {
  background-color: $titleColor;
  color: white;
  font-weight: bold;
  padding: 10px;
}

body {
  font-family: Roboto, Cantarell, sans-serif;
}

button, label, input, textarea {
  font-family: inherit;
}

.PageWrapper {
  margin: 0 auto;
  max-width: $c12;
}