.FlexBar {
  display: flex;
  justify-content: space-between;
  & > * {
    flex: 0 1 auto;
  }
  &.column {
    flex-direction: column;
  }
  &.columnReverse {
    flex-direction: column-reverse;
  }
  &.rowReverse {
    flex-direction: row-reverse;
  }
  & > .grow {
    flex: 1;
  }
}