.DropdownMenu {
  // Note: To create an overlay, we use two properties: box-shadow and z-index.
  // The idea was found at: https://tympanus.net/codrops/2013/11/07/css-overlay-techniques/
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.6);
  min-width: 174px;
  position: absolute;
  z-index: 10;

  &.-right {
    right: 0;
  }

  &.-left {
    left: 0;
  }

  &::backdrop {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(255, 41, 255, 0.8);
  }
}

.DdMenuBtn {
  background-color: #051837;
  color: #fff;
  padding-bottom: 4px;
  padding-top: 4px;
}

  // &-btn {
  //   display: block;
  //   padding: 5px;

  //   &:focus,
  //   &:hover {
  //     background-color: rgba(255, 255, 255, 0.42);
  //     outline: none;
  //   }
  // }

  // &-itemBtn {
  //   border: 0;
  //   color: $textColorDark1;
  //   display: block;
  //   font-weight: bold;
  //   line-height: 20px;
  //   padding: 3px 10px;
  //   text-align: left;
  //   width: 100%;
  //   white-space: nowrap;
  //   &:focus,
  //   &:hover {
  //     background-color: #205081;
  //     color: white;
  //   }
  // }

  // &-ul {
  //   background-color: whitesmoke;
  //   border: 1px solid gray;
  //   display: none;
  //   position: absolute;
  //   z-index: 100;
  // }
