.TaskComment {
  display: flex;

  &-left {
    min-height: 60px;
    overflow: hidden;
    position: relative;
    width: 75%;
  }

  &-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &-editButton, &-cancelButton, &-saveButton, &-deleteButton {
    background-position: center;
    background-size: cover;
    border: 0;
    flex-grow: 0;
    height: 16px;
    margin: 2px;
    outline: none;
    width: 16px;
  }

  &-editButton {
    background-image: url(svg/feather/edit.svg);
  }

  &-cancelButton {
    background-image: url(svg/feather/x-circle.svg);
  }

  &-saveButton {
    background-image: url(svg/feather/save.svg);
  }

  &-deleteButton {
    background-image: url(svg/feather/trash-2.svg);
  }

  &-textarea {
    display: none;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
  }
}
