.TaskComment {
  display: flex;

  &-left {
    min-height: 60px;
    overflow: hidden;
    position: relative;
    width: 75%;
  }

  &-editButton, &-cancelButton, &-deleteButton {
    display: block;
  }

  &-textarea {
    display: none;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
  }
}
