.AppFrame {
  height: 100%;
  position: fixed;
  width: 100%;

  &-wrapper {
    background-color: #F5F5F5;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-column-gap: 24px;
    grid-template-rows: 59px auto 25px;
    height: 100%;
    margin: 0 auto;
    max-width: 1420px; // $c18
  }

  &-top {
    grid-area: 1 / 1 / span 1 / span 15;
  }

  &-bottom {
    background-color: #1c2e4b;
    grid-area: 3 / 1 / span 1 / span 15;
    overflow-y: auto;
  }

  &-side {
    grid-area: 2 / 1 / span 1 / span 3;
  }

  &-content {
    grid-area: 2 / 4 / span 1 / span 12;
    min-height: 300px;
    overflow-y: auto;
    padding: $vGap2 0;
  }
}

.NavBtn.icon22.notif::before {
  // background: url(sprite.png) no-repeat -1px -28px;
  @include sprite(-1px, -28px);
}

.NavBtn.icon22.setting::before {
  // background: url(sprite.png) no-repeat 0 -53px;
  @include sprite(0, -53px);
}

.NavBtn.icon22.step::before {
  // background: url(sprite.png) no-repeat -31px 1px;
  @include sprite(-31px, 1px);
}
