// Columns

$c1: 60px;
$c2: 140px;
$c3: 220px;
$c4: 300px;
$c5: 380px;
$c6: 460px;
$c7: 540px;
$c8: 620px;
$c9: 700px;
$c10: 780px;
$c11: 860px;
$c12: 940px;
$c13: 1020px;
$c14: 1100px;
$c15: 1180px;
$c16: 1260px;
$c17: 1340px;
$c18: 1420px;
$c19: 1500px;
$c20: 1580px;

$g: 20px;
$c1g: 80px;
$c2g: 160px;
$c3g: 240px;
$c4g: 320px;
$c5g: 400px;
$c6g: 480px;
$c7g: 560px;
$c8g: 640px;
$c9g: 720px;
$c10g: 800px;
$c11g: 880px;
$c12g: 960px;
$c13g: 1040px;
$c14g: 1120px;
$c15g: 1200px;
$c16g: 1280px;
$c17g: 1360px;
$c18g: 1440px;
$c19g: 1520px;
$c20g: 1600px;

// Font sizes

$f6: 0,375rem;
$f7: 0,4375rem;
$f8: 0,5rem;
$f9: 0,5625rem;
$f10: 0,625rem;
$f11: 0,6875rem;
$f12: 0,75rem;
$f13: 0,8125rem;
$f14: 0,875rem;
$f15: 0,9375rem;
$f16: 1rem;
$f17: 1,0625rem;
$f18: 1,125rem;
$f19: 1,1875rem;
$f20: 1,25rem;
$f21: 1,3125rem;
$f22: 1,375rem;
$f23: 1,4375rem;
$f24: 1,5rem;
$f25: 1,5625rem;
$f26: 1,625rem;
$f27: 1,6875rem;
$f28: 1,75rem;
$f29: 1,8125rem;
$f30: 1,875rem;
$f31: 1,9375rem;
$f32: 2rem;
$f33: 2,0625rem;
$f34: 2,125rem;
$f35: 2,1875rem;
$f36: 2,25rem;
$f37: 2,3125rem;
$f38: 2,375rem;
$f39: 2,4375rem;
$f40: 2,5rem;
$f41: 2,5625rem;
$f42: 2,625rem;
$f43: 2,6875rem;
$f44: 2,75rem;
$f45: 2,8125rem;
$f46: 2,875rem;
$f47: 2,9375rem;
$f48: 3rem;
$f49: 3,0625rem;
$f50: 3,125rem;
$f51: 3,1875rem;
$f52: 3,25rem;
$f53: 3,3125rem;
$f54: 3,375rem;
$f55: 3,4375rem;
$f56: 3,5rem;
$f57: 3,5625rem;
$f58: 3,625rem;
$f59: 3,6875rem;
$f60: 3,75rem;
$f61: 3,8125rem;
$f62: 3,875rem;
$f63: 3,9375rem;
$f64: 4rem;
$f65: 4,0625rem;
$f66: 4,125rem;
$f67: 4,1875rem;
$f68: 4,25rem;
$f69: 4,3125rem;
$f70: 4,375rem;
$f71: 4,4375rem;
$f72: 4,5rem;
$f73: 4,5625rem;
$f74: 4,625rem;
$f75: 4,6875rem;
$f76: 4,75rem;
$f77: 4,8125rem;
$f78: 4,875rem;
$f79: 4,9375rem;
$f80: 5rem;
