@import "../shared-ui/definitions";

.WorkspaceViewer {
  height: 100%;
  position: relative;

  &-body {
    bottom: 0;
    flex: 1 100%;
    overflow-y: auto;
    position: absolute;
    top: 42px;
    width: 100%;
  }

  &.-noTitleBar &-title {
    display: none;
  }

  &.-noTitleBar &-body {
    top: 0;
  }
}

.CustomMenuBtn {
  background: #5584ff;
  color: #fff;
  font-size: $f13;
  height: 20px;
  text-align: center;
  width: 20px;
}