.TaskProgression {
  &Title {
    @extend .BlockTitle;
    align-items: baseline;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px 5px;
  }

  &ToggleButton, &CloseButton {
    padding: 5px;
    &:focus, &:hover {
      background-color: rgba(255, 255, 255, 0.42)
    }
  }
}

.AddTaskPane {
  padding: 5px;
}
