@import "../shared-ui/theme/definitions";

.TaskLogViewer {
  &-table {
    margin: 5px auto;
    width: 95%;
    caption {
      font-size: $f18;
      font-weight: bold;
    }
    thead {
      font-weight: bold;
    }
    td {
      padding: 5px;
    }
    tr {
      border-bottom: 1px steelblue solid;
    }
  }
}

.TaskLogViewerLoader {
  margin: 4px 0px;
  text-align: center;
  &-l {
    height: 50px;
    margin: 30px auto 0;
    width: 25%;
  }
}
