@import "../definitions/definitions";

.BoxList {
  display: inline-block;
  margin: 10px 5px 5px;
  vertical-align: top;
  width: 290px;
}

.BoxListUl {
  background-color: darkgray;
  min-height: 30px;
}

.BoxListUl > li {
  padding: 5px 5px 5px 40px;
  min-height: 25px;
  position: relative;
}

.BoxListHandle {
  bottom: 5px;
  display: block;
  left: 5px;
  position: absolute;
  top: 5px;
  width: 30px;
}