.BoxList {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  &-ul {
    background-color: darkgray;
    height: 100%;
  }
  &-li {
    min-height: 25px;
    padding: 5px 5px 5px 40px;
    position: relative;
  }
}

.BoxListHandle {
  background-color: #eee;
  bottom: 5px;
  display: block;
  left: 5px;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 30px;

  &:hover {
    cursor: move;
  }
}
