@import "../definitions/definitions";

$main-color: dodgerblue;

.box-list {
  margin:  0;
  padding: 0;
  border:  0;
  width: 200px;
}

.box-list-title {
  margin:  0;
  padding: 5px;
  color: white;
  background-color: $main-color;
}

.box-list-ul {
  margin:  0;
  padding: 0;
  border:  0;
  list-style: none;
  background-color: darkgray;
}

.box-list-ul li {
  margin:  0;
  padding: 5px 5px 5px 40px;
  position: relative;
}

.box-list-ul li .handle {
  position: absolute;
  display: block;
  width: 30px;
  top: 5px;
  left: 5px;
  bottom: 5px;
}