.NavBtnWrapper {
  position: relative;
}

.NavBtn {
  cursor: pointer;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;

  &.icon22 {
    position: relative;
    &::before {
      content: "";
      height: 22px;
      margin-top: -11px;
      position: absolute;
      top: 50%;
      width: 22px;
    }
    &.left {
      padding-left: 33px;
      &::before {
        left: 11px;
      }
    }
    &.right {
      padding-right: 33px;
      &::before {
        right: 11px;
      }
    }
  }
}
