.NavBtnWrapper {
  position: relative;
}

.NavBtn {
  cursor: pointer;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;

  &.icon22 {
    position: relative;
    &::before {
      content: "";
      height: 22px;
      margin-top: -11px;
      position: absolute;
      top: 50%;
      width: 22px;
    }
    &.left {
      padding-left: 33px;
      &::before {
        left: 11px;
      }
    }
    &.right {
      padding-right: 33px;
      &::before {
        right: 11px;
      }
    }
  }

  &.leftInner {
    padding-left: 44px;
    position: relative;
  }
  &.rightInner {
    padding-right: 44px;
    position: relative;
  }
  &-inner {
    background: no-repeat 50% 50%;
    background-size: contain;
    border-radius: 50%;
    height: 34px;
    margin-top: -17px;
    position: absolute;
    top: 50%;
    width: 34px;
    &.left {
      left: 5px;
    }
    &.right {
      right: 5px;
    }
  }
}
