.ProjectBtn {
  color: #fff;
  cursor: pointer;
  border-left: 6px solid transparent;
  font-size: $f14;
  padding: 11px 0 11px 37px;

  &:focus,
  &:hover,
  &.-current {
    background-color: #1c2e4b;
    border-left-color: #5584ff;
  }

  &-code {
    font-size: $f13;
  }
}
