.HomeWorkspace {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;
  position: relative;

  &-header {
    font-size: $f38;
  }

  &-divLogo {
    background: url("logo-2x.png") no-repeat center center;
    background-size: contain;
    height: 91px;
    width: 342px;
  }
}