.HomeWorkspace {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;

  &-header {
    font-size: $f38;
  }

  &-divLogo {
    background: url("./images/sprite-login.png") no-repeat -5px -7px transparent;
    height: 91px;
    width: 342px;
  }
}
