.LoginDialog {
  background-color: transparent;
  margin: 0px auto;

  &-a {
    color: royalblue;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  &-button {
    background-color: royalblue;
    display: block;
    color: white;
    padding: 8px 15px;
    margin-top: 75px;
  }

  &-h1 {
    font-size: $f24;
    font-weight: bold;
    text-align: left;
  }

  &-header {
    background: url("sprite-login.png") no-repeat -5px -7px transparent;
    height: 91px;
    margin: 0px auto 20px;
    width: 342px;
  }

  &-input {
    border: 0px;
    display: block;
    outline: none;
    width: 100%;
  }

  &-main {
    background-color: white;
    border: 1px solid gray;
    padding: 30px 30px 70px;
  }

  &-main > * {
    margin-bottom: 15px;
  }

  &-p {
    margin-top: 40px;
  }

  &-spanLogin, &-spanPassword {
    border: 1px solid gray;
    border-left: 3px solid royalblue;
    display: block;
    padding: 5px 5px 5px 20px;
    position: relative;
    width: 100%;
  }

  &-spanLogin::before, &-spanPassword::before {
    content: "";
    height: 15px;
    left: 2px;
    position: absolute;
    top: 4px;
    width: 15px;
  }

  &-spanLogin::before {
    background: url("sprite-login.png") no-repeat -7px -117px;
  }

  &-spanPassword::before {
    background: url("sprite-login.png") no-repeat -7px -136px;
  }
}
