.LoginDialog {
  background-color: transparent;
  margin: 0px auto;

  &-a {
    color: royalblue;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  &-button {
    background-color: royalblue;
    display: block;
    color: white;
    padding: 10px 15px;
  }

  &-h1 {
    font-size: $f28;
    font-weight: bold;
    text-align: left;
  }

  &-header {
    background: url("sprite-login.png") no-repeat -5px -7px transparent;
    height: 91px;
    margin: 0px auto 20px;
    width: 342px;
  }

  &-input {
    border: 1px solid gray;
    border-left: 3px solid royalblue;
    display: block;
    outline: none;
    padding: 5px;
    width: 100%;
  }

  &-main {
    background-color: white;
    border: 1px solid gray;
    padding: 30px 30px 70px;
  }

  &-main * {
    margin-bottom: 15px;
  }

  &-p {
    margin-top: 40px;
  }
}
