@import "../shared-ui/definitions";

.BgCommandManagerBtn {
  color: #AAA;
  font-weight: bold;
  padding: 5px;
}

.BgCommandManager {
  min-width: 500px;

  &-table {
    margin: 5px auto;
    width: 95%;
    caption {
      font-size: $f18;
      font-weight: bold;
    }
    thead {
      font-weight: bold;
    }
    td {
      padding: 5px;
    }
    tr {
      border-bottom: 1px #ccc solid;
    }
  }
}
