body {
	background-color: #e9efff;
  color: #222;
  font-family: Lato, Roboto, Cantarell, sans-serif;
}

.Header {
  background-color:$themeColor;
  color: white;
  padding: 8px 5px;
  vertical-align: middle;
}

.LeftMargin {
  margin-left: 10px;
}

.AutoColumns {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;

  & > * {
    flex: 1 1 0;
  }
}

.BgDark1 {
  background-color: #051837;
  color: #fff;
}

.StdBtn {
  background-color: #5584ff;
  color: white;
  font-size: $f14;
  padding: 10px 19px 10px 17px;
}

.TitleBar {
  background-color: #e9efff;
  font-size: $f14;
  line-height: 28px;
  padding-left: 10px;
  position: relative;
  &-right {
    position: absolute;
    right: 10px;
    top: 0;
  }
}

.WithLoader {
  position: relative;
  &.-right {
    padding-right: 25px;
  }
  &-l {
    background: url(/svg/loaders/circles.svg) no-repeat center center;
    background-size: contain;
    height: 16px;
    position: absolute;
    width: 16px;
    &.-delaying {
      filter: grayscale(100%);
    }
  }
  &.-right &-l {
    margin-top: -8px;
    right: 5px;
    top: 50%;
  }
}

.LoaderBg {
  align-self: center;
  background: url(/svg/loaders/circles.svg) no-repeat center center;
  background-size: contain;
  height: 16px;
  width: 16px;
  &.-delaying {
    filter: grayscale(100%);
  }
}

// .Spinner {
//   background: url(/svg/loaders/circles.svg) no-repeat center center;
//   background-size: contain;
//   &.-delaying {
//     filter: grayscale(100%);
//   }
//   // &.-size1,
//   &.-inside {
//     background: initial;
//     position: relative;
//     &::before {
//       background: url(/svg/loaders/circles.svg) no-repeat center center;
//       background-size: contain;
//       content: "";
//       height: 100%;
//       position: absolute;
//       width: 100%;
//     }
//   }
//   &.-size1 {
//     height: 16px;
//     margin-top: -8px;
//     position: absolute;
//     right: 5px;
//     top: 50%;
//     width: 16px;

//     // // display: inline-block;
//     // &::before {
//     //   height: 16px;
//     //   width: 16px;
//     // }
//   }
// }

.TitleBar2 {
  background-color: $lightColor;
  // color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3px 5px;
  // &-text {
  //   flex-grow: 1;
  // }
  // &-right {
  //   width: 20px;
  // }
}