body {
	background-color: #e9efff;
  color: #222;
  font-family: Lato, Roboto, Cantarell, sans-serif;
}

.Header {
  background-color:$themeColor;
  color: white;
  padding: 8px 5px;
  vertical-align: middle;
}

.LeftMargin {
  margin-left: 10px;
}

.AutoColumns {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;

  & > * {
    flex: 1 1 0;
  }
}

.BgDark1 {
  background-color: #051837;
  color: #fff;
}

.StdBtn {
  background-color: #5584ff;
  color: white;
  font-size: $f14;
  padding: 10px 19px 10px 17px;

  &.-withSpinner {
    padding-right: 24px;
    position: relative;
  }
  &.-withSpinner &-spinner {
    display: none;
    margin-top: -7px;
    position: absolute;
    right: 2px;
    top: 50%;
  }
}

.TitleBar {
  background-color: #e9efff;
  font-size: $f14;
  line-height: 28px;
  padding-left: 10px;
  position: relative;
  &-right {
    position: absolute;
    right: 10px;
    top: 0;
  }
}

.Spinner {
  background: url(/spinner.svg) no-repeat center center;
  background-size: contain;
}

.TitleBar2 {
  background-color: $lightColor;
  // color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3px 5px;
  // &-text {
  //   flex-grow: 1;
  // }
  &-right {
    width: 20px;
  }
}