@import "../shared-ui/definitions";

.AppFrame {
  height: 100%;
  position: fixed;
  width: 100%;

  &-wrapper {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(15, 1fr) 0;
    grid-column-gap: 24px;
    grid-template-rows: 59px auto 25px;
    height: 100%;
    margin: 0 auto;
    max-width: 1420px; // $c18
  }

  &-top {
    grid-area: 1 / 1 / span 1 / span 16;
  }

  &-bottom {
    background-color: #1c2e4b;
    grid-area: 3 / 1 / span 1 / span 16;
    //overflow-x: auto;
  }

  &-side {
    grid-area: 2 / 1 / span 1 / span 3;
  }

  &-content {
    grid-area: 2 / 4 / span 1 / span 12;
    //min-height: 300px;
    //overflow-y: auto;
    padding: 13px 0;
  }
}

.NavBtn.-icon22.-notif::before {
  // background: url(sprite.png) no-repeat -1px -28px;
  @include bgSprite(-1px, -28px);
}

.NavBtn.-icon22.-setting::before {
  // background: url(sprite.png) no-repeat 0 -53px;
  @include bgSprite(0, -53px);
}

.NavBtn.-icon22.-step::before {
  // background: url(sprite.png) no-repeat -31px 1px;
  @include bgSprite(-31px, 1px);
}
