.TaskForm {
  &-header {
    background-color: $lightColor;
    color: #000;
  }

  &-textarea {
    border: 1px solid #e8e8e8;
    display: block;
    padding: 4px;
    resize: none;
    width: 100%;
  }
}
