.ImagePicker {
  align-content: center;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &-btn {
    flex-grow: 0;
    opacity: 0;
    text-align: center;
  }

  &:hover > &-btn {
    opacity: 1;
  }
}
