.TaskCommentEditor {
  &-header {
    background-color: darkgray;
    color: white;
    font-weight: bold;
    padding: 5px;
    text-align: center;
  }

  &-button {
    text-align: center;
    width: 100%;
  }

  &-textarea {
    border: 1px solid #708090;
    display: block;
    width: 100%;
  }

  &-ul {
    min-height: 20px;
  }
}
