.Backdrop {
  // background-color: rgba($color: #000, $alpha: 0.3);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}

.DropdownMenuWrapper {
  position: relative;

  &.-asSuffix {
    margin-left: 10px;
  }
}

.DropdownMenu {
  border: 1px solid #fff;
  min-width: 174px;
  position: absolute;
  z-index: 1001;

  &.-right {
    right: 0;
  }

  &.-left {
    left: 0;
  }
}

.DdMenuBtn {
  background-color: #051837;
  color: #fff;
  padding-bottom: 4px;
  padding-top: 4px;
}