@import "../shared-ui/definitions";

.AccountAvatar {
  background-color: $themeColor;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-family: monospace;
  font-style: normal;
  font-weight: bold;
  text-align: center;
}
