.ContributorFlag {
  background-color: $themeColor;
  border-radius: 2px;
  color: #fff;
  font-family: monospace;
  font-style: normal;
  font-weight: bold;
  padding: 3px;
  text-align: center;
  vertical-align: middle;
}
