.LoginDialog {
  margin: 0 auto;
  max-width: 396px;
  width: 100%;

  &::backdrop {
    background-color: transparent;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }

  &-header {
    background: url("logo-2x.png") no-repeat center center;
    background-size: contain;
    height: 107px;
    margin: 0 auto 4px;
    width: 352px;
  }

  &-box {
    background-color: white;
    box-shadow: 0 6px 20px #cccccca8;
    padding: 40px 48px 94px;
  }

  &-h1 {
    margin-bottom: 19px;
  }

  &-p {
    font-size: $f13;
    margin-top: 44px;
  }
}