.TaskBox {
  background-color: #e9efff;
  height: 76px;
  padding-bottom: 24px;
  position: relative;

  &-top {
    padding: 5px;
  }

  &-openBtn {
    background-color: #f9f9f9;
    height: 40px;
    position: absolute;
    right: 4px;
    top: 5px;
    width: 21px;
  }

  &-bottom {
    bottom: 0;
    height: 24px;
    padding: 1px 8px 0 6px;
    position: absolute;
    width: 100%;
    &::before {
      border-top: 1px solid #FFF;
      content: "";
      left: 6px;
      position: absolute;
      right: 6px;
      top: 0;
    }
  }
}

.TaskBoxBottom {
  align-items: center;
  display: flex;
  justify-content: space-between;
  * {
    margin: 0px;
  }
}

.TaskCommentCounter {
  background-color: #051d41;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-family: monospace;
  font-size: $f11;
  font-weight: bold;
  height: 16px;
  line-height: 16px;
  text-align: center;
  width: 16px;
}
