.TaskBox {
  font-style: italic;
  min-width: 150px;
}

.FlagContainer {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &-left {
    align-items: baseline;
    display: flex;
    justify-content: flex-start;
    width: 40%;
  }

  &-right {
    align-items: baseline;
    display: flex;
    justify-content: flex-end;
    width: 40%;
  }
}
